body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

@font-face {
    font-family: 'FuturaPTBold';
    src: url(../fonts/FuturaPTBold.otf);
}

.container {
    margin: 0 40px;
    width: 1200px;
    margin-bottom: 30px;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.logo, 
.main-nav {
    padding: 20px 0;
}
 
.main-list {
    padding: 0;
}
 
.main-items {
    display: inline-block;
    padding-left: 20px;
    text-transform: uppercase;
}
 
.main-link {
    color: #111;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
 
.contacts {
    display: flex;
    align-items: center;
}
   
.contacts-phone {
    padding: 20px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    font-size: 20px;
}
   
.btn {
    border: 2px solid #000;
    color: #74e196;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 34px;
}

table {
    font-family: 'FuturaPTBold';
    width: 1200px;
    font-size: 20px;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    padding:15px 35px 15px 15px;
    border: 2px solid #000;
}
.td-btn {
    color: #74e196;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.advanced-level {
    padding-top: 30px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
}

.photo {
    position: relative;
}

.img-instr {
    border-radius: 50%;
    width: 180px;
    height: 178px;
}

.konstantin {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.text {
    font-family: 'FuturaPTBold';
}

.info {
    text-decoration: none;
    color: #000;

}

.buy {
    display: flex;
    flex-direction: column;
}

.price {
    padding-bottom: 20px;
    font-size: 25px;
}
.links {
    text-align: center;
    font-size: 20px;
}

.chevron {
    text-decoration: none;
    color: #74e196;
}

.link {
    text-decoration: none;
    color: #000;
}

.links:active {
    color: #74e196;
}

.data,
.headline {
    text-align: center;
    font-size: 24px;
    font-family: 'FuturaPTBold';
}


.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.data {
    text-align-last: left;
}

input {
    border: 2px solid #000;
    width: 500px;
    height: 35px;
}

.txt {
    border: 2px solid #000;
}

.send {
    margin-top: 50px;
    text-align: center;
}

footer {
    background: url(../img/bg-footer.png) no-repeat;
    background-size: 100%;
    height: 300px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.icon {
    padding-left: 30px;
}

.footer-logo {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #000;
    padding: 10px;
}

.footer-icons {
    font-size: 30px;
    padding-left: 20px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.namber,
.contacts-link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-menu {
    font-weight: bold;
    font-size: 16px;
}

.footer-items {
    display: inline-block;
    padding-left: 20px;
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    color: #000;
}